@import '../Variables.scss';

.checkbox-div {
  display: flex;
  flex-direction: column;
  // padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}


.configure-li-component {
  display: flex;
  list-style-type: none;
  flex: 0 0 25%;
}

.checkbox-label{
  padding-left: 15px;
  color: #000;
}
.checkbox-list {
  display: flex;
  flex-flow: row wrap;
}