@import '../Variables.scss';

.configure-li-component {
  display: flex;
  
  list-style-type: none;
  flex: 0 0 30%;
  // flex-flow: row wrap;
}

.checkbox-label{
  padding-left: 15px;
  color: #000;
}
.checkbox-list {
  display: flex;
  flex-flow: row wrap;
}