.favourite-products-section {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favourite-products-title h3 {
  font-size: 40px;
  padding-top: 20px;
}

.home-page-grid {
  display: flex;
  flex-direction: row;
}