@import '../Variables.scss';

.footer{
  display: flex;
  height:100px;
  position:relative;
  padding:0 10px;
  bottom: 0;
  justify-content: center;
  z-index: -1;
}

.footer p {
  color:#000;
  font-family: $pageParagraphFont;
}

.footer {
  background-color: $lightBeige;
  border-color: $lightBeige;
}