@import '../Variables.scss';

h3 {
  font-family: $pageHeaderFont;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 65px;
}

.page-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 65px;
  text-align: center;
  letter-spacing: 0.15px;
  padding-top: 20px;
  color: #000000;
  margin-top: 50px;
}