.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  z-index: -1;
}