@import '../Variables.scss';


.card {
  display: flex;
  flex-direction: row;
  width: 345px;
  height: 191px;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: 45px;
  margin-left: 20px;
  padding-right: 20px;
  background: #FFFFFF;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  list-style-type: none;
  cursor: pointer;

}

.card__info {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.card__name {
  display: flex;
  font-family: $pageHeaderFont;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

.card__description {
  display: flex;
  font-family: $pageParagraphFont;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: rgba(20, 19, 19, 0.6);
}

.card__price {
  display: flex;
  font-family: $pageParagraphFont;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-top: -8px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

.card__image {
  display: flex;
  align-self: flex-end;
  width: 242px;
  height: 242px;
  margin-bottom: 10px;
  margin-left: -45px;
  margin-right: -30px;
}