$lightBeige: #F4F1DE;

.container{
  display: flex;
  flex-direction: row;
  background-color: $lightBeige;
  padding: 50px;
  border-radius: 8px;
  margin-bottom: 50px;
}

.index-nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: space-between;
  margin-bottom: 50px;
}