.double{
  display: flex;
  flex-direction: row;
}

.colonne{
  display: flex;
  flex-direction: column;
  width: 365px;
  margin-left: 40px;
  margin-right: 40px;
}

.province {
  width: 188px;
  margin-right: 10px;
}

.postcode {
  width: 160px;
}