
.step-card{
  display: flex;
  flex-direction: row;
  // background-color: aqua;
  margin-bottom: 30px;
  padding-right: 50px;
}

.step-card__image{
  width: 20%;
  height: 20%;
}

.step-card__info{
  padding-top: 50px;
}

.step-card__header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 30px;
}