@import '../Variables.scss';

.card-configure-view {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.card-configure-form {
  display: flex;
  flex-direction: column;
}

.step4-row {
  display: flex;
  flex-direction: row;
}
.step4-row-element {
  width: 50%;
}