@import '../App.scss';

.cart-index {
  width: 100vw;
  background-color: white;
}

.cart {
  margin: 0px 100px;
}

.container {
  justify-content: left;
  padding: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
}

.cart-description {
  font-size: 14px;
}
.cart-summary {
  font-size: 14px;
}