@import '../App.scss';

.cart-index {
  width: 100vw;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // align-self: center;
  background-color:white;
  padding: 50px;
  border-radius: 8px;
  margin-bottom: 50px;
}

.cart_items{
  margin-right: 50px;
}

.summary{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 30px;
  width: 375px;
  background: rgba(131, 197, 190, 0.7);
}

.summary-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

// .cart {
//   margin: 0px 100px;
// }

// .container {
//   justify-content: left;
//   padding: 0px;
//   border-radius: 0px;
//   margin-bottom: 0px;
// }

// .cart-description {
//   font-size: 14px;
// }
// .cart-summary {
//   font-size: 14px;
// }




///////////////////////
// .mini-card{
//   display: flex;
//   flex-direction:row;
//   align-items: center;
// }

// .mini-card__info{
//   display: flex;
//   flex-direction: column;
//   padding-top: 20px;
//   width: 100%;
// }

// .mini-card__header{
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }

// .mini-card__image{
//   width: 30%;
//   height: 30%;
//   margin-left: -20px;
// }

// .mini-title{
//   font-size: 20px;
//   font-weight: 600;
//   line-height: 20px;
//   color: rgba(20, 19, 19, 1);
//   font-family: 'Archivo', sans-serif;
// }

// .mini-price{
//   font-size: 18px;
//   font-weight: 400;
//   line-height: 18px;
//   color: rgba(20, 19, 19, 1);
//   font-family: 'Archivo', sans-serif;
// }

.divider{
  height: 2px;
  width: 100%;
  background-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.canva_body {
  font-size: 18px;
  line-height: 24px;
  color: rgba(20, 19, 19, 0.6);
  font-family: 'Archivo', sans-serif;
}


//////////////////




// .center {
// text-align: center;
// }

// .center_content {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
