$lightBeige: #F4F1DE;

.product_info {
  display: flex;
  flex-direction: column;
  // width:50%;
  padding-left: 50px;
  padding-right: 100px;
  padding-top: 100px;
  background-color: $lightBeige;
}
.product_info__latin {
  font-weight: 600;
  font-size: 22px;
  font-style: italic;
  color: #000;
}

.product_info__intended{
  margin-left: -20px;
  margin-bottom: 45px;
}