.product_visuals {
  display: flex;
  flex-direction: column;
  width:50%;
}

.product_visuals__img {
  display: block;
  width: 100%;
  height: 650px;
}

.product_visuals__info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgba(131, 197, 190, 0.7);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 800;
  margin-left: 10px;
  margin-right: 10px;
}