@import '../Variables.scss';

.product_header {
  display: flex;
  flex-direction: row;

  margin-bottom: 50px;
  // max-height: 500px;

}

.product_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 100px;
  background-color: $white;
}

.product_body p {
  font-size: 18px;
}