@import '../Variables.scss';

.product_header {
  display: flex;
  flex-direction: row;
}

.product_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 40px;
  background-color: $white;
}

.product_body p {
  font-size: 18px;
}

.button-plantdetail {
  display: flex;
  justify-content: center;
  background-color: $white;
  padding-bottom: 70px;
}